.map-container {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.map-loading {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  font-size: 1.2rem;
  color: #666;
}

